.dash{
    display: flex;
}

.dash-left{
    position: relative;
    left:0;
    width:300px;
    /* border-right: 1px solid rgb(172, 172, 172); */
    height:100vh;
    z-index: 999;
}

.dash-right{
    display: flex;
    flex-direction: column;
    /* gap:320px; */
    /* margin-top: 95px; */
}

.admin-func{
    display: flex;
    /* flex-direction: column; */
    gap:150px;
    margin-top: 20px;
    /* margin-bottom: 10px; */
    margin-left: 150px;
    padding:30px;
    margin-right: 150px;
    justify-content: center;
    height:86vh;
    text-align: center;
    overflow-y: scroll;
    /* align-items: center; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}
.admin-func::-webkit-scrollbar {
    display: none;
  }
  
.ad-nav{
    /* background-color: rgba(27, 114, 151, 0.705); */
    background-color: rgba(36, 83, 104, 0.705);
    /* padding:8px; */
    color:white;
    height: 61px;
    width:81vw;
}

.admin-name{
    display: flex;
    gap:8px;
    justify-content:right;
    text-align: right;
    align-items: right;
    padding-top: 15px;
    padding-right: 50px;
    font-weight: 600;
    font-size: 20px;
    /* text-decoration: underline; */
    font-family: "Campton-Bold",sans-serif;
}

.first-row{
    display:flex;
    flex-direction: column;
    /* margin-left: 100px; */
    gap:15px;
}

.dash-head{
    font-size: 30px;
    font-family: "Campton-Bold",sans-serif;
    background-color: rgb(66, 66, 66);
    color: white;
    padding:8px;
    font-weight: 600;
}

.add-que:hover{
    color:white;
    background-color: rgb(66, 66, 66);
    width:fit-content;
    border-radius:50px;
}

.add-que-hover{
    color:white;
    background-color: rgb(66, 66, 66);
    width:fit-content;
    border-radius:50px;
    font-size: 1.4rem;
    color:white;
    cursor: pointer;
    display: flex;
    gap:6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.add-que{
    font-size: 1.4rem;
    color:white;
    cursor: pointer;
    display: flex;
    gap:6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.icon-side{
    margin-top: 7px;
}
.side-que{
    padding-top: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap:400px;
    height:100vh;
    background-color: rgba(36, 83, 104, 0.705);
}
.opt-font{
    font-size: 17px;
    color:rgb(110, 110, 110);
}

.second-row{
    margin-top: 20px;
    /* margin-left: 100px; */
    width: 250px;
}
.categ-edit{
    display: flex;
    gap:5px;
    /* flex-direction: column; */
}
.title{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.disp-title{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color:rgb(101, 101, 101);
}

.que{
    margin-top: 50px;
}

.radio-type{
    display:flex;
    flex-direction: column;
    gap:8px;
}

.single{
    display:flex;
}
.quest-row{
    display: flex;
    flex-direction: column;
    gap:30px;
    position: relative;
    top:-10px;
    width:300px;
}

.dash-disp1{
    position: relative;
    top:-10px;
}

.quest-input{
    color:grey;
    border-radius: 5px;
    border: 1px solid rgb(199, 198, 198);
    padding:4px;

}
.add-btn{
    /* background-color: transparent; */
    background-color: rgb(91, 91, 91);
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 6px;
    padding-left:14px;
    padding-right:14px;
    padding-top:7px;
    padding-bottom:7px;
    color:white;
    font-weight: 600;
    border:1px solid rgb(91, 91, 91);
}

.add-btn-admin{
    padding-bottom: 30px;
    width:100%;
}
.add-btn:hover{
    background-color: rgb(142, 142, 142);
    color:white;
    border: 1px solid rgb(142, 142, 142);
}

.add-icon-img{
    margin-top: 2px;
}

.cross-icon-img{
    margin-top: 4px;
}

.add-firm-img{
    margin-top: 7px;
}

.wrapper{
    display: flex;
    gap:5px;
    width:300px;
}

.add{
    height: fit-content;
    border-radius: 5px;
    background-color: rgb(91, 91, 91);
    color:white;
    font-size: 1.2rem;
    cursor: pointer;
    border:1px solid rgb(91, 91, 91);
}

.add:hover{
    color: white;
    background-color:rgb(142, 142, 142);
    border: 1px solid rgb(142, 142, 142);
}

.inline-categ{
    display: flex;
    gap:5px;
}

.uploadb{
    background:rgba(11, 79, 132, 0.632);
    border:1px solid rgba(11, 79, 132, 0.632);
    border-radius: 4px;
    color:white;
    padding:5px;
    font-weight: 600;
    font-size:18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    float: right;
}

.uploadb:hover{
    background-color: rgba(137, 197, 243, 0.632);
    border:1px solid rgba(137, 197, 243, 0.632);
    border-radius: 4px;
    padding:5px;
    color:black;
    align-items: right;
    justify-content: right;
}

.up-modal{
    padding:10px;
}

.show-pdf{
    display: flex;
    flex-direction: column;
    gap:14px;
    margin-top: 20px;
}