.header{
    background-color: rgb(248, 249, 250);
    /* background-color:rgb(198, 198, 198); */
}

.main{
    display:flex;
    width:100%;
    justify-content: space-between;
}

.right{
    display: flex;
    position: relative;
    gap:6px;
    top:15px;
    padding-right: 40px;
}
.ques-user{
    position: absolute;
    left:-120px;
}
.logo{
    margin-left: 50px;
    height:75px;
    width:230px;
    object-fit: inherit;
    cursor: pointer;
}

.que-btn{
    background-color: transparent;
    padding:7px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 5px;
}

.que-btn:hover{
    background-color: rgb(1, 1, 66);
    color: white;
}

.hamburger{
    display: none;
}

.user-block{
    background-color: white;
    border:1px solid rgb(202, 200, 200);
    width:220px;
    height:fit-content;
    position: absolute;
    top:45px;
    left:-170px;
    text-align: left;
    gap:7px;
    display:flex;
    padding-top:15px;
    padding-bottom: 10px;
    flex-direction: column;
    cursor:pointer;
    overflow:hidden;
    z-index:9999999;
}
.mylinks{
    text-decoration: none;
    color: black;
}
.gap-user{
    display:flex;
    gap:10px;
    padding:3px;
    font-size: 17px;
    padding-left:20px;
    font-family: "Roboto-Condensed",sans-serif;
    color:black;
}
.curs{
    cursor:pointer;
    margin-top: 10px;
}
.subm{
    position: relative;
    left:-7px;
}
.icon-user{
    position:relative;
    top:3px;
}
.my-sub{
    position: relative;
    left:-3px;
    width:20px;
    height: 20px;
}
.gap-user:hover{
    background-color: rgb(196, 195, 195);
    width:220px;
}

.user-right{
    display: none;
}

.ques-mobile{
    display:none;
}
@media screen and (max-width:540px) {
    .logo{
       margin-left:3px;
    }

    .right{
        display: none;
    }

    .ques-web{
        display: none;
    }
    .user-right{
        display: flex;
        position: relative;
        left:26px;
    }

    .hamburger{
        display: flex;
    }

    .ham-icon{
        top:17px;
        left:342px;
        position:absolute;
        z-index: 99;
        color:black;
        overflow-x:hidden;
    }
    .que-btn{
        width:300px;

    }
    .mobile-right{
        gap:9px;
        background-color:rgb(248, 249, 250);
        width:400px;
        height:100px;
        display:flex;
        flex-direction: column;
        position:relative;
        top:70px;
        left:-256px;
    }

    .show-menu{
        display: block;
    }

    .hide-menu{
        display: none;
    }

    .user-block{
        top:35px;
        overflow: hidden;
        z-index:999;
    }

    .ques-mobile{
        display: flex;
        background-color: transparent;
        font-size: 1rem;
        padding:3px 8px 3px 8px;
        border-radius: 4px;
        border: 1px solid black;
        cursor: pointer;
        text-decoration: none;
    }
    
.ques-mobile:hover{
    background-color: rgb(1, 1, 66);
    color: white;
}
}


