.header{
    background-color: rgb(248, 249, 250);
    /* background-color:rgb(198, 198, 198); */
}

.main{
    display:flex;
    width:100%;
    justify-content: space-between;
    /* align-items: center; */
    padding:10px;
}
.main-user{
    display:flex;
    width:100%;
    justify-content: space-between;
    /* align-items: center; */
    padding:10px;
}
.right{
    display: flex;
    position: relative;
    gap:6px;
    top:1px;
    padding-right: 40px;
}
.ques-user{
    position: absolute;
    left:-120px;
    top:-5px;
}
.logo{
    width: 100%;
    object-fit: contain;
}
.logo-quant{
    width: 230px;
    margin-left: 50px;
}
.que-btn{
    background-color: transparent;
    padding:7px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 9px;
}

.que-btn:hover{
    background-color: rgb(1, 1, 66);
    color: white;
}

.hamburger{
    display: none;
}

.user-block{
    background-color: white;
    border:1px solid rgb(202, 200, 200);
    width:220px;
    height:fit-content;
    position: absolute;
    top:45px;
    left:-170px;
    text-align: left;
    gap:7px;
    display:flex;
    padding-top:15px;
    padding-bottom: 10px;
    flex-direction: column;
    cursor:pointer;
    overflow:hidden;
    z-index:9999999;
}
.mylinks{
    text-decoration: none;
    color: black;
}
.gap-user{
    display:flex;
    gap:10px;
    padding:3px;
    font-size: 17px;
    padding-left:20px;
    font-family: "Roboto-Condensed",sans-serif;
    color:black;
}
.curs{
    cursor:pointer;
    margin-top: 11px;
}
.subm{
    position: relative;
    left:-7px;
}
.icon-user{
    position:relative;
    top:3px;
}
.my-sub{
    position: relative;
    left:-3px;
    width:20px;
    height: 20px;
}
.gap-user:hover{
    background-color: rgb(196, 195, 195);
    width:220px;
}

.user-right{
    display: none;
}

.ques-mobile{
    display:none;
}
@media screen and (max-width:540px) {
    .main{
        flex-direction: column; 
        justify-content: flex-start;
    }

    .logo-quant{
        width:150px;
        margin-left:0px;
    }

    .right{
        display: none;
    }

    .ques-web{
        display: none;
    }
    .user-right{
        display: flex;
        position: relative;
        left:18px;
        gap:5px;
    }

    .hamburger{
        display: flex;
    }

    .ham-icon{
        top:10px;
        /* left:336px; */
        right:10px;
        position:absolute;
        z-index: 99;
        color:black;
        overflow-x:hidden;
    }
    .que-btn{
        width:100%;
        text-decoration: none;

    }
    .mobile-right{
        gap:5px;
        /* height:110px; */
        display:flex;
        flex-direction: column;
        /* margin-top: 50px; */
        /* margin-left: -280%; */
        /* margin-right: 30%; */
        z-index: 11;
        width:100%;
    }

    .show-menu{
        display: block;
        width: 100%;
        padding:10px;
    }

    .hide-menu{
        display: none;
    }

    .user-block{
        top:40px;
        overflow: hidden;
        z-index:99999;
        left:-180px;
    }

    .ques-mobile{
        display: flex;
        background-color: transparent;
        font-size: 12px;
        padding:3px 8px 3px 8px;
        border-radius: 4px;
        margin-right: 4px;
        border: 1px solid black;
        cursor: pointer;
        text-decoration: none;
        display: none;
        margin-top: 4px;
    }
    
    .ques-mobile:hover{
        background-color: rgb(1, 1, 66);
        color: white;
    }

    .curs{
        margin-top: 1px;
    }
    .show-my-user{
        float: right;
    }
}


