/* .home{
    background-image: url("https://www.quantquestions.com/static/images/homepage_desktop.jpg");
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuiY6bxWsVbGJIQ2M3xeSTn9p6xdiNs_9_ujuKrTCzIg&s");
    background-size: cover;
    height:650px;
    background-position: 82% 0%;
} */


.home{
    position: relative;
    background-color: #000;
    height:650px;
}

.home::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 650px;
    z-index: 0;
    opacity: 0.4;
    /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuiY6bxWsVbGJIQ2M3xeSTn9p6xdiNs_9_ujuKrTCzIg&s"); */
    /* background: url("https://img.freepik.com/premium-vector/group-people-reading-studying-while-sitting-big-books-flat-style-characters-with-books-computer-gaining-knowledge-surrounded-with-pen-pencil-big-lamp_165932-372.jpg?w=740"); */
    /* background: url("https://i.pinimg.com/originals/51/5c/2b/515c2baf2c684d6ffb6b06be66f411ed.jpg"); */
    /* background: url("https://img.freepik.com/premium-vector/online-education-business-training-pile-books-woman-student-learning-web-courses-tutorials-by-laptop-educational-web-seminar-internet-classes-e-learning-by-webinar_458444-358.jpg?w=1060"); */
    /* background: url("https://media.istockphoto.com/id/530748986/photo/student-against-a-big-blackboard-with-mathematical-symbols.jpg?s=612x612&w=0&k=20&c=c_JRqTmXG07-cmgQR6O4hoze0MRF7PWRrrn-q1cusHM="); */
    /* background: url("https://media.istockphoto.com/id/485671796/vector/handwritten-formulas-and-equations-on-black-background.jpg?s=612x612&w=0&k=20&c=1vFzPWcoLmVMR3Ktwrib4qq2BOUEywknZXwwbCSi7qE="); */
    background: url("https://media.istockphoto.com/id/1332955524/vector/math-educational-vector-seamless-pattern-with-handwritten-geometry-figures.jpg?s=612x612&w=0&k=20&c=XW-vP9lht8hl9_fiLzlEAcDBnP4M9xu5KYhS2nv3LYU=");
    background-size: cover;
    background-repeat: no-repeat;
}

.home-head{
    text-align: center;
    padding-top: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:7px;
}

.ace{
    font-size: 56px;
    font-family: "Campton-Bold",Helvetica, sans-serif;
    color:#ffee66;
    font-weight: 800;
    z-index: 999;

}

.sub-head{
    color:rgb(245,245,245);
    text-align: center;
    justify-content: center;
    width:750px;
    font-weight: 300!important;
    font-size: 20px;
    z-index: 999;
    font-family: "Roboto",sans-serif;
}

.create-acc{
    color:#000;
    font-weight: 700!important;
    background-color: #18d796;
    width:200px;
    border-radius: 5px;
    border:1px solid #18d796;
    margin-top: 25px;
    z-index: 999;
    text-decoration: none;
    padding: 10px;
}

.create-acc:hover{
    background-color: #7bf3ed;
    border: 1px solid #7bf3ed;
}

.services{
    background-color: white;
    /* height:350px; */
}

.services2{
    background-color: white;
    /* height:450px; */
}
.home-serv{
    display: flex;
    gap:110px;
    padding-left: 50px;
    padding-right: 50px;
}

.myhome-serv{
    display: flex;
    gap:110px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.col-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:400px;
}



.col-img,
.serv-img{
    object-fit: cover;
    width:150px;
    height:150px;
}

.serv-head{
    font-family: 'Campton-Bold',helvetica,sans-serif;
    font-weight: 800;
}

.col-home p{
    font-family: 'Roboto-Condensed',sans-serif;
    font-size: 16px;
}


.third{
background-color: #212156!important;
text-align:center;
height: fit-content;
}

.over{
    font-family: 'Campton-Bold',helvetica,sans-serif;
    font-weight: 800;
    font-size: 32px;
    justify-content: center;
    color:white;
    padding-top:50px;
}


.over-head{
    font-family: 'Campton-Bold',helvetica,sans-serif;
    font-weight: 800;
    font-size: 32px;
    color:black;
    padding-top:50px;
}

.over-acc{
    padding-top: 30px;
    padding-bottom: 40px;
}
.acc{
    color:#000;
    font-weight: 700!important;
    background-color: #18d796;
    width:200px;
    border-radius: 5px;
    border:1px solid #18d796;
    /* margin-top: 40px; */
    text-decoration: none;
    padding: 10px;
    margin-bottom: 30px;
}

.prac1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap:120px;
    margin-top: 50px;
}

.prac2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap:120px;
}

.prac-part1{
    display: flex;
    flex-direction: column;
    text-align: left;
    height:250px;
    width:220px;
}

.prac-head{
    text-decoration: underline;
    font-size: 16px;
    font-family: 'Campton-Bold',helvetica,sans-serif;
    font-weight: 800;
    display: flex;
    gap:5px;
}

.myserv-head{
    font-family: 'Campton-Bold',helvetica,sans-serif;
    font-weight: 700;
}

.footer{
    background-color: rgb(248, 249, 250);
    /* position:fixed;
    left:0;
    bottom:0;
    right:0;  */
}

.all-foots{
    display: flex;
    gap:20px;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.all-foots a{
    text-decoration: none;
    color:#464a4c;
    font-family: 'Roboto-Condensed',sans-serif;
    font-size:13.6px;
}

.all-foots a:hover{
    text-decoration: underline;
}

.names{
    display: flex;
    gap:150px;
    justify-content: center;
    color:white;
    margin-top: 50px;
    padding-bottom: 50px;
}

.name1{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.name-main{
    font-family: 'Campton-Bold',helvetica,sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.named1{
    position: relative;
    left:-30px;
}

.name-disc{
    font-size: 18px;
}

.mobile-footer{
    display:none;
}

.prac-ph{
    display:none;
}


@media screen and (max-width:540px){
    .home{
        height:490px;
        width: 100%;
    }

    .home::before{
        height:490px;
        z-index: 1;
    }
    .ace{
        font-size: 30px;
        text-align: center;
        justify-content: center;
        margin-top: 50px;
    }
    .sub-head{
        font-size: 15px;
        justify-content: center;
        text-align: center;
        width:300px;
        margin-top: 20px;
    }

    .create-acc{
        margin-top: 40px;
    }

    .services{
        margin: auto;
    }
    .home-serv{
        flex-direction: column;
        align-items: center;
        gap:10px;
        padding-top: 30px;
        padding-bottom:50px;
    }

    .col-home{
        width:100%;
    }
   
    .col-text{
        width:95%;
        text-align: justify;
        font-size: 14px;
        margin: auto;
    }
    .my-text{
        width:70%;
        text-align: justify;
        font-size: 14px;
        margin: auto;
    }

    .col-img{
        object-fit: contain;
        width:70%;
        height:20%;
        /* margin: auto; */
    }

    .serv-img{
        object-fit: cover;
        width:30%;
        height:10%;
        margin: auto;
    }


    .over{
        font-size: 20px;
    }

    .over-head{
        font-size: 22px;
        width:85%;
        margin: auto;
    }

    .prac-web{
        display: none;
    }

    .prac-ph{
        display: flex;
        padding-left: 30px;
        padding-right: 10px;
        gap:25%;
    }
 
    .prac-part1{
        height:fit-content;
    }
  

    .prac-p{
        font-size: 12px;
    }
    .prac-head{
        font-size: 14px;
        width:130px;
    }


    .names{
        display:flex;
        flex-direction: column;
        gap:40px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .named1{
        position: relative;
        left:3px;
    }
    .name1{
        gap:1px;
    }
    .name-disc{
        width:250px;
    }

    .myhome-serv{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0px;
        text-align: center;
        justify-content: center;
        gap:18px;
    }

    .myserv-head{
        font-size: 16px;
        width:70%;
    }
   
    .footer{
        display: none;
    }
    .all-foots a{
        font-size: 13px;
    }

    .mobile-footer{
        display: flex;
        justify-content: center;
    }


}