.prog-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categ-head{
    text-align: left;
    font-family: 'Campton-Bold',helvetica,sans-serif;
    font-weight: 800;
    margin-top:10px ;
    font-size: 25px;
}

.recent{
    text-align: left;
    font-family: 'Campton-Bold',helvetica,sans-serif;
    font-weight: 800;
    font-size: 25px;
}
.doughnut{
    width:300px;
}

.row1-prog{
    display:flex;
    gap:350px;
}

.all-solved{
    display: flex;
    gap:180px;
}

.total-sub{
    display: flex;
    gap:200px;
    width:1000px;
}
.per-que{
    margin-top: 5px;
    gap:80px;
    display: flex;
    flex-direction: column;
}
.col-sub{
    display: flex;
    flex-direction: column;
}

.give-nums{
    color:#28a745;
    font-size: 60px;
}

.num-sub{
    color:#007bff;
    font-size: 30px;
}

.percent-sub{
    color:#28a745;
    font-size: 30px;
}

.my-sub{
    font-size: 16px;
    font-family: 'Roboto-Condensed',sans-serif;
    font-weight: 600;
}
.row2-prog,
.row3-prog,
.row4-prog{
    margin-top: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width:1000px;
}


.row3-prog{
    margin-bottom: 50px;
}
.table-sub{
    margin-top: 20px;
}


.table-sub th{
    font-family: 'Campton-Bold',helvetica,sans-serif;
    font-weight: 800;
}

.table-sub td{
    padding:6px;
    font-size: 16px;
    font-family: 'Roboto-Condensed',sans-serif;
}
.table-sub th{
    padding:6px;
}

.no-data{
    text-align: center;
}

.phone-table{
    display:none;
}

.recent-ph{
    display: none;
}

@media screen and (max-width:540px){
    .categ-head{
        margin: auto;
        /* width:90%; */
    }
    .doughnut{
        margin: auto;
    }

    .give-nums{
        font-size: 40px;
    }
     .row1-prog{
        display: flex;
        flex-direction: column;
        gap:10px;
        justify-content: center;
        text-align: center;
        align-items: center;
     }

     .row4-prog{
        margin-top: 50px;
     }

     .row2-prog,
     .row3-prog{
        margin-top: 70px;
        width:80%;
     }

     .total-sub{
        gap:160px;
        width:100px;
    }

    .all-solved{
        gap:160px;
    }

    .phone-table{
        display: block;
    }

    .recent-web{
        display: none;
    }
    .recent-ph{
        font-size: 15px;
        display: flex;
    }

    .recent{
        font-size: 15px;
    }
    .web-table{
        display:none;
    }

    .table-sub td{
        font-size: 14px;
    }

    .que-com{
        position: relative;
        top: 10px;
    }
}
