.detail-side{
    display:flex;
    justify-content: center;
    gap:30px;
}

.detail-one{
    border:1px solid rgb(206, 205, 205);
    width:850px;
    height:fit-content;
    margin-top: 20px;
    border-radius: 5px;
}

.detail-two{
    margin-top: 86px;
    width:250px;
    display: flex;
    flex-direction: column;
    /* gap:20px; */
}

.detail-box1{
    border:1px solid rgb(206, 205, 205);
    border-radius: 5px;
    font-size:16px;
    font-family:"Roboto-Condensed",sans-serif;
}

.line-one{
    display: flex;
}

.main-detail{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    justify-content: left;
    gap: 5px;
}

.detail-title{
    font-size: 24px;
    color:black;
    font-family: 'Campton-Bold',helvetica,sans-serif;
    font-weight: 800;
}

.quest-title{
    width:580px;
    text-align: justify;
}

.que-descr{
    display: flex;
    justify-content: left;
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
    color:black;
    width:750px;
    font-weight: 500;
}

.que-side{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.answer{
    text-align: left;
    margin-left: 40px;
    color:black;
    font-size: 16px;
    font-family: "Roboto-Condensed",sans-serif;
    font-weight:600;
}



.ans-field{
    width:400px;
    height:40px;
    border:1px solid grey;
    padding-left: 10px;
    padding-top: 6px;
}

.submit{
    color:white;
    background-color: #28a745;
    border:1px solid #28a745;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.submit:hover{
    background-color: #18742d;
    border:1px solid #18742d;
}

.show-ans-btn{
    background-color: #007bff;
    color:white;
    border:1px solid #007bff;
    border-radius: 5px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 600;
}

.show-ans-btn:hover{
    background-color: #0163cb;
    color:white;
    border:1px solid #0163cb;
    border-radius: 5px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.align-btn{
    display: flex;
    text-align: left;
    margin-left: 40px;
    /* position: relative; */
    /* top:9px; */
    gap:8px;
    padding-bottom: 20px;
    padding-top: 5px;
}


.icon-line1,
.icon-line2{
    display: flex;
    gap:15px;
}

.icon-line2{
    margin-top: 8px;
}
.buttons{
    margin-top: 15px;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-left: 40%; */
}



.nums{
    position: relative;
    top: 8px;
    /* left:10%; */
}

.options{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    position: relative;
    top:-15px;
}

.disp-radio{
    display:flex;
    gap:8px;
}


.input-pin{
    position: relative;
    top:8px;
    width: 800px;
    text-align: left;
}

.open-detail{
    display: flex;
    /* gap:4px; */
    padding:10px;
    justify-content: space-between;
}

.gap-detail{
    display: flex;
    gap:3px;
    cursor: pointer;
}

.info-icon{
    margin-top: 4px;
}
.drop-detail{
    margin-top: 3px;
    cursor: pointer;
}

.solving{
    background-color: #212156;
    border:1px solid #212156;
    border-radius: 20px;
    color:white;
    padding:2px;
    font-size: 12px;
    font-family: "Roboto-Condensed",sans-serif;
    font-weight: 600;
    height:fit-content;
  }


  .success-de{
    background-color: #28a745;
    border:1px solid #28a745;
    border-radius: 15px;
    color:white;
    padding:2px;  
    font-weight: 600;
    text-transform: capitalize;
    height:fit-content;
    width:fit-content;
    font-size: 12px;
    font-family: "Roboto-Condensed",sans-serif;
  }
  .medium-de{
      background-color: #ffc107;
      border:1px solid #ffc107;
      border-radius: 15px;
      color:black;
      text-transform: capitalize;
      padding:2px;  
      width:fit-content;
      height:fit-content;
      font-size: 12px;
      font-family: "Roboto-Condensed",sans-serif;
      font-weight: 600;
    }
  
  
  .danger-de{
    color:white;
    padding:2px;
    background-color: #dc3545;
    border-radius: 15px;
    border:1px solid #dc3545;
    font-weight: 600;
    text-transform: capitalize;
    width:fit-content;
    height:fit-content;
    font-size: 12px;
    font-family: "Roboto-Condensed",sans-serif;
  }  
.my-detail{
    display: flex;
    gap:5px;
}

.detail-block{
    padding-left:16px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap:13px;
}
.status-detail{
    color:#757575;
}

.main-tags{
    padding-left:16px;
    padding-bottom: 20px;
    gap:8px;
    width:200px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
 }

.tag-item{
    background-color:#f8f9fa;
    color:#007bff;
    width: fit-content;
    border-radius: 15px;
    border:1px solid #f8f9fa;
    padding:3px;
    font-weight: 600;
    cursor:pointer;
    font-size: 12px;
    font-family: "Roboto-Condensed",sans-serif;
  }

  .tag-item:hover{
    background-color: #e1e2e2;
    border:1px solid #e1e2e2;
  }

  .show-my-ans{
    padding-bottom: 10px;
}

.ans-show1{
    display: flex;
    gap:4px;
    padding-left: 40px;
}

.correct-ans{
    text-align: justify;
    color: black;
    width:600px;
    word-wrap: break-word;
    font-size: 18px;
    /* font-weight: 600; */
}
.show-ans{
    color: rgb(54, 180, 54);
    font-size: 18px;
    font-weight: 600;
}

.explain{
    border:2px dashed rgb(144, 144, 144);
    /* border-radius: 5px; */
    margin-left: 40px;
    margin-bottom: 20px;
    height:fit-content;
    display: flex;
    padding:10px;
    flex-direction: column;
    width:760px;
    gap:7px;
    margin-top: 20px;
}

.explain-head{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.explain-cont{
    text-align: left;
    font-size: 16px;
    width:600px;
}

.disp-sidebar{
    display: flex;
    margin:auto;
    /* gap:14px; */
}

  .web-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1111;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .mob-sidebar{
    display:none;
  }
  
  .categoryonclick{
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #858585;
    display: block;
    text-align: left;
    transition: 0.3s;
    cursor: pointer;
  }

  .all-categ{
    padding: 8px 8px 20px 15px;
    font-size: 30px;
    font-family: "Campton-Bold",Helvetica, sans-serif;
    font-weight: 700;
    line-height: 8px;
    text-decoration: underline;
    color: white;
  }
  
  .categoryonclick:hover {
    color: #f1f1f1;
  }
  
  .categoryClicked{
    color: white;
  }

  .closemod{
    position: absolute;
    right: 15px;
    top:-4px;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    /* width:100px; */
    color: #858585;
    display: block;
    text-align:right;
    transition: 0.3s;
    cursor: pointer; 
  }

  .closemod:hover{
    color: black;
  }

  .closebtn {
    position: absolute;
    right: 20px;
    top:10px;
    text-decoration: none;
    font-size: 35px;
    color: #858585;
    display: block;
    text-align:right;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .openbtn {
    font-size: 18px;
    cursor: pointer;
    padding: 4px 10px;
    border: 1px solid rgb(206, 205, 205);
    border-radius: 5px;
    align-items: left;
    color:grey;
    font-weight: 600;
    background-color: transparent;
  }
  
  .openbtn:hover {
    background-color:grey;
    color: white;
  }

  .cat-btn{
    margin-top: 15px;
    margin-right: 10px;
  }

  
.detail-icons{
    position:relative;
    /* left:35px; */
    top:25px;
    right:-46px;
    /* left:890px; */
    /* top:205px; */
    display: flex;
    flex-direction: column;
}

  
  .catopenbtn {
    font-size: 16px;
    cursor: pointer;
    padding: 4px 10px;
    border: 1px solid rgb(206, 205, 205);
    border-radius: 5px;
    align-items: left;
    /* color: grey; */
    font-weight: 600;
    background-color:transparent;
    display: flex;
    gap:2px;
  }
  
  .catopenbtn:hover {
    background-color:rgb(171, 170, 170);
    border:1px solid rgb(171, 170, 170);
    color: white;
  }

  .catopenbtn p{
    width:150px;
  }

  .prev,
.next{
    border:1px solid rgb(206, 205, 205);
    background-color: transparent;
    border-radius: 5px;
    color:grey;
    /* padding:8px; */
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
}

.prev:hover,
.next:hover{
    background-color: rgb(116, 115, 115);
    color:white;
}

.prev:hover .chng{
    color:white;
}

  #main {
    transition: margin-left .5s;
    margin-top:15px;
  }

  .all-side{
    text-align:left;
    /* color: #6a6a6a; */
  }

.star-class{
    opacity:0.3
}

  .correct-ans-style{
    color:green;
    font-size: 18px;
    position:relative;
    top:8px;
  }

  .wrong-ans-style{
    color:red;
    font-size: 18px;
    position:relative;
    top:8px;
  }

  .web-btn{
    display: flex;
  }
  .sidebar-mob-view,
  .mob-btn{
    display: none;
  }
@media screen and (max-width:540px){
    .detail-side{
        flex-direction: column;
        align-items: center; 
        margin-top: 30px;
        padding-bottom:20px;
    }

    .detail-one{
        width:350px;
        margin:auto;
    }

    .main-detail{
        width:350px;
        gap:2px;
        margin-left: 15px;
    }

    .detail-title{
        font-size: 15px;
        text-align: justify;
    }

    .que-descr{
        width:300px;
        text-align: justify;
        font-size: 15px;
    }

    .buttons{
        justify-content: center;
        align-items: center;
        /* margin-left: 0px; */
    }

    .ans-field{
        width:280px;
    }

    .correct-ans-style,
    .wrong-ans-style{
        font-size:14px;
    }

    .explain{
        width:300px;
    }

    .correct-ans{
        width:200px;
    }

    .show-ans,
    .correct-ans{
        font-size:15px;
    }

    .ans-show1{
        gap:1px;
        margin-left:-20px;
    }

    .que-descr,
    .answer,
    .align-btn,
    .options,
    .explain
    {
        margin-left:20px;
    }

    .explain-cont{
        width:280px;
        font-size: 15px;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        /* word-wrap: break-word; */
    }

    .disp-sidebar{
        gap:10px;
        margin:auto;
    }

    .sidebar-web-view,
    .web-btn,
    .detail-icons{
        display:none;
    }

    .quest-title{
        width:80%;
    }

    
    .sidebar-mob-view{
        display:flex;
        margin:auto;
    }

    .mob-btn{
        display: flex;
        margin-bottom:20px;
    }

    .detail-two{
        margin-top: -40px;
        width:85%;
    }   
    
    .web-sidebar{
        display:none;
    }

    .mob-sidebar {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1111;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
}

