.detail-side{
    display:flex;
    justify-content: center;
    gap:30px;
}

.detail-one{
    border:1px solid rgb(206, 205, 205);
    width:850px;
    height:fit-content;
    margin-top: 20px;
    border-radius: 5px;
}

.detail-two{
    margin-top: 20px;
    width:250px;
    display: flex;
    flex-direction: column;
    /* gap:20px; */
}

.detail-box1{
    border:1px solid rgb(206, 205, 205);
    border-radius: 5px;
    font-size:16px;
    font-family:"Roboto-Condensed",sans-serif;
}

.line-one{
    display: flex;
}

.main-detail{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    justify-content: left;
    gap: 5px;
}

.detail-title{
    font-size: 24px;
    color:black;
    font-family: 'Campton-Bold',helvetica,sans-serif;
    font-weight: 800;
}

.que-descr{
    display: flex;
    justify-content: left;
    text-align: left;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;
    color:black;
    width:750px;
    font-weight: 500;
}

.answer{
    text-align: left;
    margin-left: 40px;
    color:black;
    font-size: 16px;
    font-family: "Roboto-Condensed",sans-serif;
    font-weight:600;
}



.ans-field{
    width:400px;
    height:40px;
    border:1px solid grey;
}

.submit{
    color:white;
    background-color: #28a745;
    border:1px solid #28a745;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.submit:hover{
    background-color: #18742d;
}

.show{
    background-color: #007bff;
    color:white;
    border:1px solid #007bff;
    border-radius: 5px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.align-btn{
    display: flex;
    text-align: left;
    margin-left: 40px;
    /* position: relative; */
    /* top:9px; */
    gap:8px;
    padding-bottom: 20px;
    padding-top: 5px;
}

.detail-icons{
    margin-top: 20px;
    /* margin-left: 90px; */
    position: absolute;
    left:900px;
    display: flex;
    flex-direction: column;
}


.icon-line1,
.icon-line2{
    display: flex;
    gap:15px;
}

.icon-line2{
    margin-top: 8px;
}
.buttons{
    margin-top: 10px;
    /* margin-left:525px; */
    display: flex;
    gap:15px;
    margin-left: 40%;
}

.prev,
.next{
    border:1px solid rgb(206, 205, 205);
    background-color: transparent;
    border-radius: 5px;
    color:grey;
    padding:10px;
}

.prev:hover,
.next:hover{
    background-color: rgb(116, 115, 115);
    color:white;
}

.prev:hover .chng{
    color:white;
}

.nums{
    position: relative;
    top: 10px;
}

.options{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    position: relative;
    top:-15px;
}

.disp-radio{
    display:flex;
    gap:8px;
}


.input-pin{
    position: relative;
    top:8px;
    width: 800px;
    text-align: left;
}

.open-detail{
    display: flex;
    /* gap:4px; */
    padding:10px;
    justify-content: space-between;
}

.gap-detail{
    display: flex;
    gap:3px;
    cursor: pointer;
}

.info-icon{
    margin-top: 4px;
}
.drop-detail{
    margin-top: 3px;
    cursor: pointer;
}

.solving{
    background-color: #212156;
    border:1px solid #212156;
    border-radius: 20px;
    color:white;
    padding:2px;
    font-size: 12px;
    font-family: "Roboto-Condensed",sans-serif;
    font-weight: 600;
    height:fit-content;
  }


  .success-de{
    background-color: #28a745;
    border:1px solid #28a745;
    border-radius: 15px;
    color:white;
    padding:2px;  
    font-weight: 600;
    text-transform: capitalize;
    height:fit-content;
    width:fit-content;
    font-size: 12px;
    font-family: "Roboto-Condensed",sans-serif;
  }
  .medium-de{
      background-color: #ffc107;
      border:1px solid #ffc107;
      border-radius: 15px;
      color:black;
      text-transform: capitalize;
      padding:2px;  
      width:fit-content;
      height:fit-content;
      font-size: 12px;
      font-family: "Roboto-Condensed",sans-serif;
      font-weight: 600;
    }
  
  
  .danger-de{
    color:white;
    padding:2px;
    background-color: #dc3545;
    border-radius: 15px;
    border:1px solid #dc3545;
    font-weight: 600;
    text-transform: capitalize;
    width:fit-content;
    height:fit-content;
    font-size: 12px;
    font-family: "Roboto-Condensed",sans-serif;
  }  
.my-detail{
    display: flex;
    gap:5px;
}

.detail-block{
    padding-left:16px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap:13px;
}
.status-detail{
    color:#757575;
}

.main-tags{
    padding-left:16px;
    padding-bottom: 20px;
    gap:8px;
    width:200px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
 }

.tag-item{
    background-color:#f8f9fa;
    color:#007bff;
    width: fit-content;
    border-radius: 15px;
    border:1px solid #f8f9fa;
    padding:3px;
    font-weight: 600;
    cursor:pointer;
    font-size: 12px;
    font-family: "Roboto-Condensed",sans-serif;
  }

  .tag-item:hover{
    background-color: #e1e2e2;
    border:1px solid #e1e2e2;
  }

  .show-my-ans{
    padding-left: 40px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    width:800px;
    gap:2px;
    /* text-align: justify; */
    padding-bottom: 10px;
}

.correct-ans{
    text-align: justify;
}
.show-ans{
    color: rgb(54, 180, 54);
    display: flex;
}


@media screen and (max-width:540px){
    .detail-side{
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        margin-top: 30px;
    }

    .detail-one{
        width:350px;
    }

    .main-detail{
        width:260px;
        gap:2px;
    }
    .detail-title{
        font-size: 15px;
        text-align: justify;
    }

    .que-descr{
        width:300px;
        text-align: justify;
    }

    .buttons{
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .ans-field{
        width:250px;
    }

    .detail-two{
        /* margin-right: 95px; */
    }
}

