.quest-block {
  display: flex;
  flex-direction: column;
  width: 750px;
}

.quest-two {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.div1 {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.first-left {
  display: flex;
  gap: 5px;
}

.random-side {
  display: flex;
}

.solved {
  background-color: rgb(43, 136, 249);
  border: 1px solid rgb(71, 149, 245);
  border-radius: 20px;
  color: white;
  padding: 3px;
  font-size: 12px;
  font-family: "Roboto-Condensed", sans-serif;
  font-weight: 600;
  height: fit-content;
}

.easy {
  background-color: #28a745;
  border: 1px solid #28a745;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  padding: 3px;
  height: fit-content;
  font-size: 12px;
  font-family: "Roboto-Condensed", sans-serif;
}

.mymedium {
  background-color: #ffc107;
  border: 1px solid #ffc107;
  border-radius: 20px;
  color: black;
  padding: 3px;
  font-weight: 600;
  height: fit-content;
  font-size: 12px;
  font-family: "Roboto-Condensed", sans-serif;
}

.hard {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 20px;
  color: white;
  padding: 3px;
  height: fit-content;
  font-weight: 600;
  font-size: 12px;
  font-family: "Roboto-Condensed", sans-serif;
}

.random {
  background-color: transparent;
  border: 1px solid grey;
  color: grey;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Roboto-Condensed", sans-serif;
}

.random:hover {
  background-color: rgb(87, 86, 86);
  color: white;
}

.border1 {
  border: 1px solid rgb(195, 195, 195);
  margin-top: 13px;
}

.div2 {
  display: flex;
  justify-content: space-between;
  /* margin-top: px; */
}

.search {
  background-color: transparent;
  border: 1px solid grey;
  font-size: 1rem;
  padding: 5px;
  color: grey;
  border-radius: 5px;
  width: 250px;
}

.div3 {
  padding-bottom: 40px;
}

.sc-bYMpWt .sc-ilhmMj .dLyRAV .lmSJmf {
  display: none
}

.any {
  gap: 17px;
  display: flex;
}

.anyone {
  gap: 12px;
  display: flex;
}


.set-drops {
  display: flex;
  cursor: pointer;
}

.dropping {
  position: relative;
  top: 5px;
}

.mytype1 {
  background-color: white;
  border: 1px solid rgb(202, 200, 200);
  width: 6%;
  height: fit-content;
  position: absolute;
  top: 173px;
  left: 800px;
  text-align: left;
  /* overflow:auto; */
  gap: 2px;
  z-index: 99;
  padding-left: 10px;
  display: flex;
  padding-top: 2px;
  flex-direction: column;
  cursor: pointer;
}


.category-class {
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  display: flex;
  gap: 5px;
  width: fit-content;
  border: 1px solid #28a745;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  text-transform: capitalize;
}

.crossed-khushi {
  margin-top: 5px;
}


.success1 {
  background-color: #28a745;
  border: 1px solid #28a745;
  border-radius: 15px;
  color: white;
  padding: 5px;
  font-weight: 600;
  text-transform: capitalize;
  height: fit-content;
  width: fit-content;
  font-size: 12px;
  font-family: "Roboto-Condensed", sans-serif;
}

.medium1 {
  background-color: #ffc107;
  border: 1px solid #ffc107;
  border-radius: 15px;
  color: black;
  text-transform: capitalize;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  font-family: "Roboto-Condensed", sans-serif;
  font-weight: 600;
}


.danger1 {
  color: white;
  padding: 5px;
  background-color: #dc3545;
  border-radius: 15px;
  border: 1px solid #dc3545;
  font-weight: 600;
  text-transform: capitalize;
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  font-family: "Roboto-Condensed", sans-serif;
}

.correct1 {
  /* background-color: #18d796; */
  /* border:1px solid #18d796; */
  /* border-radius: 15px; */
  color: #28a745;
  text-transform: capitalize;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  font-family: "Roboto-Condensed", sans-serif;
  font-weight: 700;
}

.wrong1 {
  /* background-color: rgb(224, 67, 67); */
  /* border:1px solid rgb(249, 77, 77); */
  /* border-radius: 15px; */
  color: rgb(223, 22, 22);
  text-transform: capitalize;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  font-family: "Roboto-Condensed", sans-serif;
  font-weight: 700;
}

.unsolved {
  /* background-color: #021775; */
  /* border:1px solid #021775; */
  /* border-radius: 15px; */
  color: #021156;
  text-transform: capitalize;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  font-family: "Roboto-Condensed", sans-serif;
  font-weight: 700;
}

.quest-right-block {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 20px;
}

.quest-progress-head {
  display: flex;
  gap: 6px;
}

.prog-text {
  font-size: 14px;
}

.prog-define {
  display: flex;
  gap: 54px;
}

.progress-chart {
  width: 250px;
  /* margin: auto; */
}

.num-firm {
  background-color: #6b0afd;
  color: white;
  border-radius: 50%;
  border: 1px solid #6b0afd;
  padding: 2px 4px;
  margin-left: 3px;
  font-size: 10px;
  font-weight: 600;
  margin-right: 3px;
}

.num-divi {
  background-color: #2f4f4f;
  color: white;
  border-radius: 50%;
  border: 1px solid #2f4f4f;
  padding: 2px 4px;
  margin-left: 3px;
  font-size: 10px;
  font-weight: 600;
  margin-right: 3px;
}

.num-pos {
  background-color: #800000;
  color: white;
  border-radius: 50%;
  border: 1px solid #800000;
  padding: 2px 4px;
  margin-left: 3px;
  font-size: 10px;
  font-weight: 600;
  margin-right: 3px;
}

.num-tag {
  background-color: #A5E1AD;
  /* color:white; */
  border-radius: 50%;
  border: 1px solid #A5E1AD;
  padding: 2px 4px;
  margin-left: 3px;
  font-size: 10px;
  font-weight: 600;
  margin-right: 3px;
}

.first-prog {
  font-size: 16px;
  font-family: "Campton-Bold", Helvetica, sans-serif;
  font-weight: 800;
}

.firm-head {
  display: flex;
  gap: 6px;
}

.myfirm {
  font-size: 16px;
  font-family: "Campton-Bold", Helvetica, sans-serif;
  font-weight: 800;
  position: relative;
  top: -4px;
}

.firms-block {
  margin-top: 20px;
}

.main-firms {
  width: 250px;
  max-height: 200px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  overflow-y: scroll;
  margin-top: 10px;
}

.main-firms::-webkit-scrollbar {
  display: none;
}

.firm-item {
  background-color: rgb(248, 249, 250);
  color: black;
  width: fit-content;
  border-radius: 15px;
  border: 1px solid rgb(219, 218, 218);
  padding: 2px;
  /* font-weight: 600; */
  cursor: pointer;
  font-size: 12px;
  font-family: "Roboto-Condensed", sans-serif;
}

.firm-item:hover {
  background-color: rgb(187, 185, 185);
}



.mobile-view {
  display: none;
}


.same-line-categ {
  display: flex;
  gap: 5px;
}

.same-line-firm {
  display: flex;
  gap: 5px;
}

@media screen and (max-width:540px) {

  .web-view {
    display: none;
  }

  .mobile-view {
    display: flex;
    width: 100%;
  }

  .quest-block {
    width: 100%;
  }

  .quest-two {
    flex-direction: column;
    gap: 0px;
    width: 100%;
  }

  .find {
    display: flex;
    justify-content: center;
  }

  .search {
    width: 90%;
    margin-top: 25px;
  }

  .first-left {
    margin-left: 7px;
  }

  .easy,
  .solved,
  .medium,
  .hard {
    font-size: 12px;
    padding: 2px;
    font-weight: 600;
    width: fit-content;
  }

  .random {
    position: relative;
    left: -29px;
  }

  .div2 {
    flex-direction: column;
  }


  .any {
    margin-top: 20px;
    justify-content: left;
    /* gap:153px; */
    width: 350px;
    margin-left: 5.7%;
    align-items: center;
    text-align: center;
  }


  .anyone {
    margin-top: 20px;
    justify-content: left;
    /* gap:153px; */
    width: 350px;
    margin-left: 5.7%;
    align-items: center;
    text-align: center;
  }

  .same-line-categ {
    margin-left: 5.8%;
    margin-top: 10px;
  }


  .same-line-firm {
    display: flex;
    margin-left: 5%;
    flex-wrap: wrap;
  }

  .quest-progress-head {
    margin-left: 25px;
  }

  .div3 {
    width: 100%;
    padding: 10px;
  }

  .category-class {
    font-size: 15px;
  }

  .crossed-khushi {
    margin-top: 4px;
    font-size: 10px;
    cursor: pointer;
  }

  .progress-chart {
    margin: auto;


  }
}