.quest-block{
    display: flex;
    flex-direction: column;
    width:750px;
    margin: auto;
}


.div1{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.first-left{
    display: flex;
    /* margin:5px; */
    gap:5px;
}

.random-side{
    display: flex;
}

.solved{
  background-color: rgb(43, 136, 249);
  border:1px solid rgb(71, 149, 245);
  border-radius: 20px;
  color:white;
  padding:5px;
  font-weight: 600;
}

.easy{
    background-color: rgb(10, 220, 10);
    border:1px solid rgb(10, 220, 10);
    border-radius: 20px;
    color:white;
    padding:5px;
    font-weight: 600;
}

.medium{
  background-color: rgb(240, 232, 9);
  border:1px solid rgb(240, 232, 9);
  border-radius: 20px;
  color:black;
  padding:5px;
  font-weight: 600;
}

.hard{
    background-color: rgb(204, 8, 15);
    border:1px solid rgb(204, 8, 15);
    border-radius: 20px;
    color:white;
    padding:5px;
    font-weight: 600;
}

.random{
    background-color: transparent;
    border: 1px solid grey;
    color:grey;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
}

.border1{
    border:1px solid rgb(195, 195, 195);
    margin-top: 13px;
}

.div2{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.search{
  background-color: transparent;
  border:1px solid grey;
  font-size: 1rem;
  padding:5px;
  color:grey;
  border-radius: 5px;
}

.div3{
    padding-bottom: 40px;
}

.sc-bYMpWt .sc-ilhmMj .dLyRAV .lmSJmf{
    display:none
}

.any{
    gap:5px;
}

.category-class{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(80, 155, 80);
}

.difficulty-class{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(80, 155, 80);
}

.category-class img{
    width: 30px;
    height: 30px;
}

.difficulty-class img{
    width: 30px;
    height: 30px;
}



@media screen and (max-width:540px){
    .quest-block{
        width:400px;
    }

    .first-left{
        margin-left: 7px;
    }
    .easy,
    .solved,
    .medium,
    .hard{
        font-size: 12px;
        padding:2px;
        font-weight: 600;
        width:fit-content;
    }
    .random{
        position: relative;
        left:-29px;
    }
    .div2{
        flex-direction: column;
    }

    .search{
        width:300px;
    }

    .any{
        margin-top: 20px;
    }
}