.myadmin{
    background-color: grey;
    height: 100vh;
    justify-content: center;
}

.admin-head{
    font-family: 'Campton-Bold',helvetica,sans-serif;
    font-weight: 800;
    font-size: 33px;
    padding-top: 10%;
    padding-bottom: 20px;
    color: white;
}

.inputAdd{
    padding:10px;
    border:1px solid rgb(209, 207, 207);
    width:400px;
    margin:10px;
    color:black;
    border-radius: 4px;
}

.mybox{
    border:1px solid rgb(209, 207, 207);
    border-radius: 4px;
    padding:20px;
    width:450px;
    margin: auto;
}