.inputPass{
    padding-left:20px;
    /* padding:6px 12px; */
    /* color:#ffffff; */
    border:1px solid rgb(209, 207, 207);
    width:416px;
    font-weight: 400;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.icon-lock{
    margin-top: -5px;
    
}

.locked{
    background-color: rgb(200, 199, 199);
    height:41px;
    width:50px;
    padding:10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px ;
}

.change{
    color:black;
    margin-top: 20px;
    font-family: 'Campton-Bold',helvetica,sans-serif;
    font-weight: 800;
}
.lock{
    width:100%;
    display: flex;
    gap:15px;
    flex-direction: column;
    margin-top: 40px;
}
.set-lock{
    display: flex;
}
.passbtn{
    background-color: rgb(26, 146, 221);
    border:1px solid rgb(26, 146, 221);
    color:white;
    width:100%;
    padding: 5px;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

.passbtn:hover{
    background-color: rgb(7, 110, 212);
    border-radius:1px solid  rgb(7, 110, 212);
}

.password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pass-eye{
    position:relative;
    left:-35px;
    top:8px;
}

.mypasswordfield{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:540px) {
  .lock{
    margin-top: 20px;
  }
 
  .change{
    margin-top: 10px;
  }

  .login-page{
    margin-top: 30%;
    overflow-x: hidden;
  }
   
.locked{
    width:13%;
}


.inputPass{
    padding-left: 8px;
    width:257px;
}


}