.res-page{
    margin-top: 50px;
    margin-bottom: 50px;
}

.Res-tabel-display {
    background-color: #f1f3f6;
}
.RescourcesTable {
    background-color: #fff;
    /* border-radius: 15px; */
    padding: 20px;
    width:70%;
    margin: auto;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.res-table-div {
    border: 1px solid rgb(216, 209, 209);
    /* border-radius: 10px; */
}

.res-table-div table thead {
    background-color: #dddddf;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

.RescourcesTable table tbody tr {
    /* text-align: center; */
    height: 50px;
}


.res-view{
    /* background-color: rgb(197, 196, 196); */
    /* border-radius: 5px; */
    color:white;
    text-decoration: none;
    padding-left:7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: fit-content;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.res-view:hover{  
    color:rgb(61, 188, 231);
    border-bottom: 2px solid rgb(61, 188, 231);
    cursor: pointer;
}

.data-categ{
    font-size:18px;
}

.RescourcesTable table tbody tr th{
    text-align: left;
}




.res-view-download {
    display: flex;
    /* justify-content: center; */
}


.res-view-download p {
    /* border: 2px solid black; */
    margin: 5px;
    font-size: 0.7rem;
    color: #7a7e83;
    cursor: pointer;
}

.res-view-download p:hover{
    text-decoration: underline;
}

.res-table-head .first-col{
    text-align:left;
    font-size: 18px;
    font-family: "Roboto-Condensed",sans-serif;
    font-weight: 700;
}


.res-table-head .sec-col{
 
    text-align:right;
    font-size: 18px;
    font-family: "Roboto-Condensed",sans-serif;
    font-weight: 700;
}

.res-navigation{
    /* display: flex*/
    margin: 20px;
    color: #7a7e83;
}

.res-table-heading {
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    margin:20px 20px;
}

.res-heading-right {
    display: flex;
    /* border: 2px solid red; */
}

.res-table-search {
    display: flex;
    margin-right:-15px;
}


.res-table-search input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 40px;
}

.res-table-search button {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    height:40px;
}

.srch-btn{
    background-color: rgb(17, 55, 244);
    color:white;
    padding:8px;
    border:1px solid rgb(17, 55, 244);
}
.srch-input{
    border:1px solid rgb(195, 194, 194);
    padding:5px;
    border-top-left-radius:5px;
    width:280px;
}

.res-heading-left {
    font-size: 2rem;
    font-weight: 700;
}

.res-add-btn {
    height: 40px;
}

.modal-add-res-section-profile{
    margin: 10px;
}

.res-add-modal-footer {
    display: flex;
    /* border: 2px solid red; */
    /* justify-content:; */
}

.modal-footer-link {
    margin: 4px;
    border :2px solid rgb(255, 255, 255);
    padding: 2px;
    border-radius: 2px;
    transition: all 0.2s linear;
}

.res-add-modal-title input{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 5px;
}

.res-add-modal-footer-upload {
    margin: 5px;
    font-weight: 700;
}
.res-add-modal-title input:focus {
    outline: none;
}

.modal-footer-link:hover {
    border: 2px solid black;
}

.add-res-add-link {
    margin: 5px;
}

.add-res-add-link input {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
}

.table-categ{
    margin-left: 30px;
}

.table-files{
    margin-right: 40px;
}

.RescourcesTable table tbody tr td{
    text-align: right;
    padding-right:43px;
}

.res-pagination{
    display: flex;
    justify-content: space-between;
    padding-top:40px;
    padding-left: 10px;
    padding-right: 10px;
}
  
@media screen and (max-width:540px){
    .RescourcesTable{
        width:90%;
    }
    .res-table-heading{
        flex-direction: column;
    }

    .res-table-search{
        /* margin-left: -20px; */
        margin-top: 20px;
    }
    .srch-input{
        width:100%;
        margin: auto;
    }

    .res-view,
    .data-categ{
        font-size: 15px;
    }

    .table-categ{
        margin-left: 10px;
    }

    .table-files{
        margin-right: 20px;
    }
    
    .RescourcesTable table tbody tr td{
        text-align: right;
        padding-right:18px;
    }
}